@media (max-width: 700px) {
    /* Apply styles when the screen width is 700px or less */
    .work__img a{
        margin: 10px;
        height: 180px;
        width:220px
    }

    .work__img img{
        height: 180px;
        width:220px
    }
}